* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SamsungSharpSans', sans-serif;
  background-image: url('./BG.png');
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  aspect-ratio: 2 / 1;
  overflow: hidden;
  position: relative;
  border: 2px solid #000;
}

.bottom_logo {
  position: absolute;
  font-size: 10px;
  z-index: 1;
  left: 30px;
  bottom: 10px;
  color: #fff;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 570px) {
  .container {
    width: 100%;
    border: none;
    height: 70vh;
    max-width: 1200px;
    aspect-ratio: auto;
    overflow: hidden;
    position: relative;
  }
}
